body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
}
.product-card:hover {
    transform:scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
img {
    width: 100%;
}
